In [2]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [3]:
c = lambda f: (5/9)*(f-32)

In [4]:
temps = [(f, c(f)) for f in range(0,101,10)]

In [5]:
import pandas as pd

In [6]:
temps_df = pd.DataFrame(temps, columns=['Fahrenheit', 'Celcius'])

In [7]:
axes = temps_df.plot(x='Fahrenheit', y='Celcius', style='.-')

In [8]:
y_label = axes.set_ylabel('Celcius')

In [9]:
nyc = pd.read_csv('ave_hi_nyc_jan_1895-2018.csv')

In [10]:
nyc.head()

     Date  Value  Anomaly
0  189501   34.2     -3.2
1  189601   34.7     -2.7
2  189701   35.5     -1.9
3  189801   39.6      2.2
4  189901   36.4     -1.0

In [11]:
nyc.tail()

       Date  Value  Anomaly
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

In [12]:
nyc.columns = ['Date', 'Temperature', 'Anomaly']

In [13]:
nyc.head(3)

     Date  Temperature  Anomaly
0  189501         34.2     -3.2
1  189601         34.7     -2.7
2  189701         35.5     -1.9

In [15]:
nyc.Date.dtype

dtype('int64')

In [31]:
nyc.Date = nyc.Date.floordiv(100)

In [32]:
pd.set_option('precision', 2)

In [33]:
nyc.Temperature.describe()

count    124.00
mean      37.60
std        4.54
min       26.10
25%       34.58
50%       37.60
75%       40.60
max       47.60
Name: Temperature, dtype: float64

In [34]:
from scipy import stats

In [35]:
linear_regression = stats.linregress(x=nyc.Date, y=nyc.Temperature)

In [36]:
print(f'm = {linear_regression.slope} b ={linear_regression.intercept}')

m = 0.014771361132966163 b =8.694993233674289

In [39]:
y = linear_regression.slope*2021 + linear_regression.intercept

In [40]:
print(y)

38.54791408339891

In [41]:
import seaborn as sns

In [42]:
sns.set_style('whitegrid')

In [43]:
axes = sns.regplot(x=nyc.Date, y=nyc.Temperature)
axes.set_ylim(10, 70)

(10.0, 70.0)